nav {
  display: flex;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  font-family: Bungee, cursive;
  text-transform: capitalize;
  padding: 40px
}

.subtitle {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif; 
}
