form {
  display: block;
  text-align: left;
  margin: 0 0 20px 0;
}

label {
  display: block;
  font-size: 20px;
}

textarea {
  display: block;
  resize: none;
  border: none;
  border-bottom-color:#545149;
  border-bottom-style: solid;
  background: transparent;
  width: 100%;
  margin: 1em 0;
  font-size: 20px;
}

.flex-line {
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  border: 0;
  line-height: 2.25;
  padding: 0 20px;
  background-color: #4056A1;
  background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: #ffffff;
  font-family: Bungee, cursive;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}
button:hover{
  background-color: #9daee6 ;

output {
  font-family: Bungee, cursive;
}

.no-text-error {
  font-size: 18px;
  color: red;
  border-bottom-style: dotted;
  font-weight: bold;
  
}
.too-long-error {
  font-size: 18px;
  color: red;
  border-bottom-style: dotted;
  font-weight: bold;
  
}

