form {
  display: block;
  text-align: left;
}

label {
 
  border-bottom-width: 3px;
  line-height: 3;
  /* border-bottom-color: #545149;
  border-bottom-style: solid; */
  display: block;
}

.tweetInput {
  display: block;
  outline: none;
  resize: none;
  border: none;
  border-bottom-color:#545149;
  border-bottom-style: solid;
  background: transparent;
  width: 100%;
  margin: 1em 0;


}

.flex-line {
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  background-color: #4056A1;
  color: #ffffff;
  font-family: Bungee, cursive;
  outline: none;
  border: none;
}

