form {
  display: block;
  text-align: left;
}

label {
  display: block;
  font-size: 20px;
}

textarea {
  display: block;
  resize: none;
  border: none;
  border-bottom-color:#545149;
  border-bottom-style: solid;
  background: transparent;
  width: 100%;
  margin: 1em 0;
  font-size: 20px;
}

.flex-line {
  display: flex;
  justify-content: space-between;
}

button {
  display: inline-block;
  background-color: #4056A1;
  color: #ffffff;
  font-family: Bungee, cursive;
  outline: none;
  border: none;
}

output {
  font-family: Bungee, cursive;
}

